  <h2>{{title}}</h2>
  <form name ="signUpParents">
  <div class="example-container">
  <div class="uk-margin-bottom">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="First Name" type="text" required>
    </mat-form-field>
  </div>
  <div class="uk-margin-bottom">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Last Name" type="text" required>
    </mat-form-field>
  </div>
  <div class="uk-margin-bottom">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Phone" type="tel">
    </mat-form-field>
  </div>
  <div class="uk-margin-bottom">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Email" type="email">
    </mat-form-field>
  </div>
  <button mat-button>Submit</button>
</div>
